*{
  padding:0;
  margin:0;
}
body{
  min-height: 100vh;
  background-image:linear-gradient(to bottom,rgb(130, 235, 235) 1%,pink 50%,rgb(130, 235, 235));
}
.nav{
font-weight: bold;
  font-size: 24px;
  padding: 5px;
  font-family:'Courier New', Courier, monospace;
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
a{
  color: white;
  text-decoration: none;
  outline-style: none;
}
.Homepage{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
margin: 60px;
}
.titlestudent{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.studentdetails{
  font-size: 26px;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 20px;
  /* position: relative;
  left:100px; */

}
.btn{
  text-align: center;
  font-size: 18px;
  border-radius: 25px;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  margin: 20px;
  background-color: bisque;
  /* position: relative;
  left:400px; */
}
table{
  text-align: center;
  width: 600px;
  height: 400px;
  border: none;
  border-radius: 5px;
background-color: bisque;
margin:auto;
}
input{
  margin:50px;
  width: 300px;
  height: 40px;
text-align: center;
margin-left: 180px;
  border-radius: 5px;
  text-decoration: none;
  background-color: pink;
}
input:hover{
  background-color: rgb(216, 144, 144);
}
.btn1{
   width: 100px;
  height: 40px;
text-align: center;
margin:10px;
  border-radius: 5px;
  text-decoration: none;
  background-color: pink;
  
}
.btn1:hover{
  text-decoration: none;
 background-color: rgb(223, 126, 142);
}
.Edit{
  color: blue;
}
 .buttons{
  display: flex;
  flex-direction: row;
  position: relative;
  left:600px
 }
 .btn2{
   width: 100px;
  height: 40px;
text-align: center;
margin:10px;
  border-radius: 5px;
  text-decoration: none;
  background-color: pink;
 }
 .btn2:hover{
 
   background-color: rgb(223, 126, 142);
  }
 .addstuden{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }
